:root {
    --main-color: #ffad64;
    --secondary-color: #333237;
    --accent-color: #add4d3;
    --background-color: #051622;
}

* {
    box-sizing: border-box;
    padding: 0;
}


body {
    min-height: 100vh;
    width: 100%;
    overflow-x: hidden;
    margin-top: 64px;
    padding-bottom: 80px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--background-color);
    position: relative;
}

main {
    display: flex;
    width: 90vw;
    margin: 0 auto;
    flex-direction: column;
    text-align: center;
    color: var(--main-color);
    margin-top: 78px;
}

#header {
    position: relative;
}

#nav-bar {
    display: flex;
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    background-color: var(--accent-color);
    align-content: center;
}

#header-logo {
    width: 66%;
    flex: 1 1 66%;
}

#header-img {
    height: 100px;
    width: 177px;
    margin: -20px 0px -20px 0px;
    padding-left: 1rem;
}

#header-links {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
    flex: 1 1 33%;
    padding-right: 1rem;
}

#nav-bar div a {
    text-decoration: none;
    color: var(--secondary-color);
    font-family: sans-serif;
    font-weight: 600;
    flex-basis: 33%;
    /* border: solid; */
    text-align: right;
}

#nav-bar div a:hover {
    text-decoration: underline;
}

#div-video {
    width: 100%;
    height: auto;
}

#video {
    width: 96%;
}

#submit {
    width: 60px;
}

#footer {
    background-color: var(--accent-color);
    color: var(--secondary-color);
    text-align: center;
    font-size: 14px;
    padding: 0px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

@media(max-width: 650px) {
    #nav-bar {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    #header-logo {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #header-img {
        height: 100px;
        width: 177px;
        padding-right: 50;
        align-items: center;
    }

    #header-links {
        display: flex;
        width: 100%;
        align-content: space-between;
        justify-content: center;
    }
    #nav-bar div a {
        text-align: center;
    }
}