:root {
    --main-color: #ffad64;
    --secondary-color: #333237;
    --accent-color: #add4d3;
    --background-color: #051622;
}


body {
    height: 1000px;
    margin-top: 64px;
    border: 1px solid;
}

main {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: var(--main-color);
    background-color: var(--background-color);
}

#header {
    position: relative;
}

#nav-bar {
    display: flex;
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    background-color: var(--accent-color);
    align-content: center;
}

#header-logo {
    width: 66%;
    flex: 1 1 66%;
}

#header-img {
    height: 100px;
    width: 177px;
    margin: -20px 0px -20px 0px;
    padding-left: 1rem;
}

#header-links {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
    flex: 1 1 33%;
    padding-right: 1rem;
}

#nav-bar div a {
    text-decoration: none;
    color: var(--secondary-color);
    font-family: sans-serif;
    font-weight: 600;
    flex-basis: 30%;
    /* border: solid; */
    text-align: right;
}

#nav-bar div a:hover {
    text-decoration: underline;
    text-decoration-thickness: 5px;    
}

@media(max-width: 650px) {
    #nav-bar {
        flex-direction: column;
        align-items: center;
    }
    #header-logo {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #header-img {
        height: 100px;
        width: 177px;
        padding-right: 50;
        align-items: center;
    }

    #header-links {
        display: flex;
        flex-direction: column;
        /* align-content: flex-end; */
        justify-content: center;
    }
    #nav-bar div a {
    padding-right: 15px;
    } */
}